version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15
    ignore:
      - dependency-name: "org.apache.kafka:kafka-streams"
        update-types: ["version-update:semver-major"]
     - dependency-name: "org.apache.kafka:kafka_2.12"
        update-types: ["version-update:semver-major"]
        
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15
